body{
    background: linear-gradient(rgba(0, 163, 212, 0),rgb(0, 255, 115));
}
.wp-block-search .wp-block-search__input {
    flex-grow: 1;
    min-width: 3em;
}input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select {
    color: #666666;
    background-color: #fafafa;
    border-color: #cccccc;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
    border: 1px solid;
    border-radius: 0;
    padding: 10px 15px;
    max-width: 100%;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
body, button, input, select, textarea {
    font-family: "ABeeZee", sans-serif;
}
a, button, input {
    transition: color .1s ease-in-out,background-color .1s ease-in-out;
}
body, button, input, select, textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.entry-header, .site-content {
    word-wrap: break-word;
}
body {
    line-height: 1.5;
}
body {
    color: #212121;
}
:root {
    --contrast: #222222;
    --contrast-2: #575760;
    --contrast-3: #b2b2be;
    --base: #f0f0f0;
    --base-2: #f7f8f9;
    --base-3: #ffffff;
    --accent: #1e73be;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
form .oflox-search__button, button{
    border: none;
}
*{
    padding: 5;
    margin: 5;
}
hr{
    color: #212121;
    fill: #212121;
    width: 1300px;
    margin:0;
    padding: 0;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
 div a, #hi77h{
      text-decoration: none;
      background-color: #04AA6D;
      color: #ffffff;
      padding: 16px;
      font-size: 16px;
      border: none;
  }
  #himan{
      text-align: right;
      float: right;
  }
  .text{
      color: #1e73be;
      float: left;
      font-size: 60px;
  }